@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Source Sans 3", "sans-serif";
  }
}

* {
  @apply text-dark-charcoal;
}

.footer-links-group {
  @apply space-y-4 w-full;
}

.footer-links-group li {
  @apply w-full;
}

.footer-links-group li a {
  @apply text-base text-slate-gray w-full block;
}

.categories-page-list {
  @apply space-y-16;
}

.categories-page-list li {
  @apply space-y-6;
}

.categories-page-list li .header {
  @apply rounded-full w-full p-2 flex items-center gap-2 border border-solid border-burnt-orange bg-soft-cream;
}

.categories-page-list li .header .img-section {
  @apply relative min-w-[90px] min-h-[90px] max-w-[90px] max-h-[90px] rounded-full overflow-hidden;
}

.categories-page-list li .header .img-section img {
  @apply absolute inset-0 w-full h-full  object-cover;
}

.categories-page-list li .header h4 {
  @apply font-serif text-xl font-bold;
}

.categories-page-list li .header h6 {
  @apply text-base;
}

.categories-page-list li .content {
  @apply grid  grid-cols-4;
}

.categories-page-list li .content ul {
  @apply space-y-6;
}

.categories-page-list li .content ul li {
  @apply text-base;
}

.blog-list {
  @apply w-full divide-y divide-light-gray;
}

.blog-list li {
  @apply w-full py-10 flex items-stretch gap-8;
}

.blog-list li:nth-child(1) {
  @apply pt-0;
}

.blog-list li:nth-last-child(1) {
  @apply pb-0;
}

.blog-list li .img-section {
  @apply w-full relative min-w-[695px]  max-w-[695px] pt-[391px] rounded-md;
}

.blog-list li .img-section img {
  @apply absolute inset-0 w-full h-full object-cover;
}

.blog-list li .blog-content {
  @apply flex flex-col justify-between gap-6;
}

.blog-list li .blog-content h4 {
  @apply font-serif font-bold text-4xl;
}

.blog-list li .blog-content h6 {
  @apply text-base text-slate-gray;
}

.author-details {
  @apply flex items-center gap-3;
}

.author-details .avatar {
  @apply min-w-12 min-h-12 max-w-12 max-h-12 rounded-full relative overflow-hidden;
}

.author-details .avatar img {
  @apply absolute inset-0 w-full h-full object-cover;
}

.pagination {
  @apply flex items-stretch gap-8;
}

.pagination .page-item {
  @apply flex items-center gap-1 border border-solid border-light-gray p-2 bg-[#F9FAFB] rounded-[4px] text-base;
}

.pagination .page .page-item {
  @apply min-w-[42px] min-h-[42px] max-w-[42px] max-h-[42px] flex items-center justify-center;
}

.pagination .page .page-item.active {
  @apply border-burnt-orange bg-[#FFE7E1] text-burnt-orange;
}

.breadcrumb {
  @apply flex items-center gap-3;
}

.breadcrumb li {
  @apply text-base text-burnt-orange;
}

.blog-image {
  @apply w-full  rounded-xl overflow-hidden relative pt-[440px];
}

.blog-image img {
  @apply absolute inset-0 w-full h-full object-cover;
}

.page.blog-content {
  @apply space-y-8;
}

.page.blog-content h1 {
  @apply font-serif font-bold text-4xl;
}

.page.blog-content p {
  @apply text-base text-slate-gray;
}

.page.blog-content h2,
.page.blog-content h3,
.page.blog-content h4,
.page.blog-content h5 {
  @apply font-semibold text-2xl py-4;
}

.page.blog-list {
  @apply divide-y divide-light-gray;
}

.page.blog-list li {
  @apply w-full flex items-center gap-6 py-6;
}

.page.blog-list li .img-section {
  @apply relative  !min-h-[112px] !max-h-[112px] !min-w-[176px] !max-w-[176px] !pt-0 rounded-md overflow-hidden;
}

.page.blog-list li .img-section img {
  @apply absolute inset-0 w-full h-full object-cover;
}

.page.blog-list li h4 {
  @apply font-serif font-bold text-xl;
}

.page.blog-list li h6 {
  @apply text-base text-slate-gray;
}

.page.blog-list li:nth-child(1) {
  @apply pt-0;
}

.page.blog-list li:nth-last-child(1) {
  @apply pb-0;
}

.faq-sidebar {
  @apply space-y-4 min-w-[308px] max-w-[308px];
}

.faq-sidebar a {
  @apply w-full bg-pure-white border border-solid border-light-gray py-4 flex items-center justify-center text-2xl;
}

.faq-section {
  @apply space-y-6;
}

.faq-section .title {
  @apply font-bold text-4xl font-serif;
}

.faq-section .faq-list {
  @apply divide-y divide-light-gray w-full;
}

.faq-section .faq-list .faq {
  @apply py-6;
}

.faq-section .faq-list .faq:nth-child(1) {
  @apply pt-0;
}

.faq-section .faq-list .faq:nth-last-child(1) {
  @apply pb-0;
}

.faq-section .faq-list .faq .faq-title {
  @apply text-2xl;
}

.faq-section .faq-list .faq .faq-description {
  @apply text-xl text-slate-gray mt-3;
}

.faq-section .faq-list .faq .faq-btn {
  @apply min-w-12 min-h-12 max-w-12 max-h-12 flex  items-center justify-center border border-solid border-light-gray rounded-full;
}

.categories-box {
  @apply border border-solid border-light-gray w-full rounded-full flex items-center gap-2 p-2;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
  -moz-box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
  box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
}

.categories-box .img-section {
  @apply min-w-[90px] min-h-[90px] max-w-[90px] max-h-[90px] rounded-full relative overflow-hidden;
}

.categories-box .img-section img {
  @apply absolute inset-0 w-full h-full object-cover;
}

.categories-box h4 {
  @apply font-bold text-xl font-serif;
}

.categories-box p {
  @apply text-base;
}

.impact-number-box {
  @apply bg-pure-white px-7 py-6 flex items-center gap-5 rounded-2xl;
  -webkit-box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.12);
}

.impact-number-box h5 {
  @apply font-bold font-serif text-5xl text-burnt-orange;
}

.impact-number-box p {
  @apply text-xl mt-0.5;
}

.impact-number-box .svg-box {
  @apply min-w-[84px] min-h-[84px] max-w-[84px] max-h-[84px] flex items-center justify-center rounded-md bg-burnt-orange;
}

.blog-box {
  @apply border border-solid border-light-gray rounded-xl divide-y divide-light-gray overflow-hidden;
  -webkit-box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
  -moz-box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
  box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
}

.blog-box .img-section {
  @apply w-full relative pt-[216px] overflow-hidden;
}

.blog-box .img-section img {
  @apply absolute inset-0 w-full h-full object-cover;
}

.blog-box .content {
  @apply py-6 px-[26px] space-y-8;
}

.blog-box .content .blog-title {
  @apply font-bold font-serif text-xl;
}

.blog-box .content .blog-description {
  @apply text-base text-slate-gray;
}
