*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: Source Sans 3, sans-serif;
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

html {
  font-family: "Source Sans 3", "sans-serif";
}

* {
  --tw-text-opacity: 1;
  color: hsl(var(--dark-charcoal) / var(--tw-text-opacity));
}

.footer-links-group {
  width: 100%;
}

.footer-links-group > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.footer-links-group li {
  width: 100%;
}

.footer-links-group li a {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: hsl(var(--slate-gray) / var(--tw-text-opacity));
}

.categories-page-list > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(4rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(4rem * var(--tw-space-y-reverse));
}

.categories-page-list li > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.categories-page-list li .header {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: hsl(var(--burnt-orange) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--soft-cream) / var(--tw-bg-opacity));
  padding: 0.5rem;
}

.categories-page-list li .header .img-section {
  position: relative;
  max-height: 90px;
  min-height: 90px;
  min-width: 90px;
  max-width: 90px;
  overflow: hidden;
  border-radius: 9999px;
}

.categories-page-list li .header .img-section img {
  position: absolute;
  inset: 0px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.categories-page-list li .header h4 {
  font-family: Lora, serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.categories-page-list li .header h6 {
  font-size: 1rem;
  line-height: 1.5rem;
}

.categories-page-list li .content {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.categories-page-list li .content ul > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.categories-page-list li .content ul li {
  font-size: 1rem;
  line-height: 1.5rem;
}

.blog-list {
  width: 100%;
}

.blog-list > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
  --tw-divide-opacity: 1;
  border-color: hsl(var(--light-gray) / var(--tw-divide-opacity));
}

.blog-list li {
  display: flex;
  width: 100%;
  align-items: stretch;
  gap: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.blog-list li:nth-child(1) {
  padding-top: 0px;
}

.blog-list li:nth-last-child(1) {
  padding-bottom: 0px;
}

.blog-list li .img-section {
  position: relative;
  width: 100%;
  min-width: 695px;
  max-width: 695px;
  border-radius: 0.375rem;
  padding-top: 391px;
}

.blog-list li .img-section img {
  position: absolute;
  inset: 0px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-list li .blog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.blog-list li .blog-content h4 {
  font-family: Lora, serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.blog-list li .blog-content h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: hsl(var(--slate-gray) / var(--tw-text-opacity));
}

.author-details {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.author-details .avatar {
  position: relative;
  max-height: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  overflow: hidden;
  border-radius: 9999px;
}

.author-details .avatar img {
  position: absolute;
  inset: 0px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pagination {
  display: flex;
  align-items: stretch;
  gap: 2rem;
}

.pagination .page-item {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: hsl(var(--light-gray) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.pagination .page .page-item {
  display: flex;
  max-height: 42px;
  min-height: 42px;
  min-width: 42px;
  max-width: 42px;
  align-items: center;
  justify-content: center;
}

.pagination .page .page-item.active {
  --tw-border-opacity: 1;
  border-color: hsl(var(--burnt-orange) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 231 225 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--burnt-orange) / var(--tw-text-opacity));
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.breadcrumb li {
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: hsl(var(--burnt-orange) / var(--tw-text-opacity));
}

.blog-image {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 0.75rem;
  padding-top: 440px;
}

.blog-image img {
  position: absolute;
  inset: 0px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page.blog-content > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.page.blog-content h1 {
  font-family: Lora, serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.page.blog-content p {
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: hsl(var(--slate-gray) / var(--tw-text-opacity));
}

.page.blog-content h2,
.page.blog-content h3,
.page.blog-content h4,
.page.blog-content h5 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.page.blog-list > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
  --tw-divide-opacity: 1;
  border-color: hsl(var(--light-gray) / var(--tw-divide-opacity));
}

.page.blog-list li {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.page.blog-list li .img-section {
  position: relative;
  max-height: 112px !important;
  min-height: 112px !important;
  min-width: 176px !important;
  max-width: 176px !important;
  overflow: hidden;
  border-radius: 0.375rem;
  padding-top: 0px !important;
}

.page.blog-list li .img-section img {
  position: absolute;
  inset: 0px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.page.blog-list li h4 {
  font-family: Lora, serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.page.blog-list li h6 {
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: hsl(var(--slate-gray) / var(--tw-text-opacity));
}

.page.blog-list li:nth-child(1) {
  padding-top: 0px;
}

.page.blog-list li:nth-last-child(1) {
  padding-bottom: 0px;
}

.faq-sidebar {
  min-width: 308px;
  max-width: 308px;
}

.faq-sidebar > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.faq-sidebar a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: hsl(var(--light-gray) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--pure-white) / var(--tw-bg-opacity));
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

.faq-section > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.faq-section .title {
  font-family: Lora, serif;
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.faq-section .faq-list {
  width: 100%;
}

.faq-section .faq-list > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
  --tw-divide-opacity: 1;
  border-color: hsl(var(--light-gray) / var(--tw-divide-opacity));
}

.faq-section .faq-list .faq {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.faq-section .faq-list .faq:nth-child(1) {
  padding-top: 0px;
}

.faq-section .faq-list .faq:nth-last-child(1) {
  padding-bottom: 0px;
}

.faq-section .faq-list .faq .faq-title {
  font-size: 1.5rem;
  line-height: 2rem;
}

.faq-section .faq-list .faq .faq-description {
  margin-top: 0.75rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: hsl(var(--slate-gray) / var(--tw-text-opacity));
}

.faq-section .faq-list .faq .faq-btn {
  display: flex;
  max-height: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: hsl(var(--light-gray) / var(--tw-border-opacity));
}

.categories-box {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: hsl(var(--light-gray) / var(--tw-border-opacity));
  padding: 0.5rem;
  box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
}

.categories-box .img-section {
  position: relative;
  max-height: 90px;
  min-height: 90px;
  min-width: 90px;
  max-width: 90px;
  overflow: hidden;
  border-radius: 9999px;
}

.categories-box .img-section img {
  position: absolute;
  inset: 0px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.categories-box h4 {
  font-family: Lora, serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.categories-box p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.impact-number-box {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  border-radius: 1rem;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--pure-white) / var(--tw-bg-opacity));
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 0.12);
}

.impact-number-box h5 {
  font-family: Lora, serif;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: hsl(var(--burnt-orange) / var(--tw-text-opacity));
}

.impact-number-box p {
  margin-top: 0.125rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.impact-number-box .svg-box {
  display: flex;
  max-height: 84px;
  min-height: 84px;
  min-width: 84px;
  max-width: 84px;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--burnt-orange) / var(--tw-bg-opacity));
}

.blog-box > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
  --tw-divide-opacity: 1;
  border-color: hsl(var(--light-gray) / var(--tw-divide-opacity));
}

.blog-box {
  overflow: hidden;
  border-radius: 0.75rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: hsl(var(--light-gray) / var(--tw-border-opacity));
  box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
}

.blog-box .img-section {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 216px;
}

.blog-box .img-section img {
  position: absolute;
  inset: 0px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-box .content > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.blog-box .content {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 26px;
  padding-right: 26px;
}

.blog-box .content .blog-title {
  font-family: Lora, serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.blog-box .content .blog-description {
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-text-opacity: 1;
  color: hsl(var(--slate-gray) / var(--tw-text-opacity));
}

.location-details {
  width: 100%;
  max-width: 348px;
}

.location-details > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.location-details li {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.location-details li p,
.location-details li a {
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: hsl(var(--deep-black) / var(--tw-text-opacity));
}

.location-details li .icon {
  display: flex;
  max-height: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--burnt-orange) / var(--tw-bg-opacity));
}

.contact-count-list {
  width: 100%;
}

.contact-count-list > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
  --tw-divide-opacity: 1;
  border-color: hsl(var(--blue-midnight) / var(--tw-divide-opacity));
}

.contact-count-list li {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.contact-count-list li:nth-child(1) {
  padding-top: 0px;
}

.contact-count-list li:nth-last-child(1) {
  padding-bottom: 0px;
}

.contact-count-list li h6 {
  font-family: Lora, serif;
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  --tw-text-opacity: 1;
  color: hsl(var(--blue-midnight) / var(--tw-text-opacity));
}

.contact-count-list li p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.step-list {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 2rem;
}

.step-list .step-box {
  min-width: 308px;
  max-width: 308px;
  overflow: hidden;
  border-radius: 1rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: hsl(var(--blue-midnight) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--soft-cream) / var(--tw-bg-opacity));
}

.step-list .step-box .header {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--blue-midnight) / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.step-list .step-box .header h4 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: hsl(var(--soft-cream) / var(--tw-text-opacity));
}

.step-list .step-box .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  padding: 2rem;
}

.step-list .step-box .content .step-title {
  text-align: center;
  font-family: Lora, serif;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.step-list .step-box .content .step-description {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.stories-box > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.625rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.625rem * var(--tw-space-y-reverse));
}

.stories-box {
  border-radius: 0.5rem;
  border-width: 1px;
  border-bottom-width: 8px;
  border-style: solid;
  border-color: rgb(214 216 222 / var(--tw-border-opacity));
  --tw-border-opacity: 1;
  border-bottom-color: hsl(var(--burnt-orange) / var(--tw-border-opacity));
  padding: 1.5rem;
}

.stories-slider .swiper-wrapper {
  height: -moz-fit-content;
  height: fit-content;
}

.stories-button-next,
.stories-button-prev {
  display: flex;
  max-height: 3.5rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  max-width: 3.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--burnt-orange) / var(--tw-bg-opacity));
}

.stories-pagination {
  display: flex;
  width: -moz-fit-content !important;
  width: fit-content !important;
  --tw-translate-x: 0px !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
  align-items: center;
}

.stories-pagination .swiper-pagination-bullet {
  background-color: transparent;
  max-height: 0.75rem;
  min-height: 0.75rem;
  min-width: 0.75rem;
  max-width: 0.75rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: hsl(var(--burnt-orange) / var(--tw-border-opacity));
}

.stories-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  max-height: 1.25rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
  max-width: 1.25rem;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--burnt-orange) / var(--tw-bg-opacity));
}

.about-box-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
}

.about-box-list li > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
}

.about-box-list li {
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: hsl(var(--light-gray) / var(--tw-border-opacity));
  padding: 1.25rem;
  box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
}

.about-box-list li h6 {
  font-family: Lora, serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

.about-box-list li p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.about-box-list li .icon {
  display: flex;
  max-height: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  max-width: 3rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--burnt-orange) / var(--tw-bg-opacity));
}

.role-list > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
  --tw-divide-opacity: 1;
  border-color: hsl(var(--light-gray) / var(--tw-divide-opacity));
}

.role-list li {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.role-list li:nth-child(1) {
  padding-top: 0px;
}

.role-list li:nth-last-child(1) {
  padding-bottom: 0px;
}

.role-list li button {
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--burnt-orange) / var(--tw-bg-opacity));
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  --tw-text-opacity: 1;
  color: hsl(var(--pure-white) / var(--tw-text-opacity));
}

.role-list li h4 {
  width: 50%;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
}

.role-list li p {
  width: 40%;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.career-content h2,
.career-content h3,
.career-content h4,
.career-content h5 {
  font-family: Lora, serif;
  font-size: 28px;
  font-weight: 700;
}

.career-content h6,
.career-content p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: hsl(var(--slate-gray) / var(--tw-text-opacity));
}

.contact-form > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.contact-form {
  border-radius: 0.75rem;
  --tw-bg-opacity: 1;
  background-color: hsl(var(--pure-white) / var(--tw-bg-opacity));
  padding: 1.5rem;
  box-shadow: 0px 2px 6px 0px rgba(16, 24, 40, 0.06);
}

.input-group > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}

.input-group label {
  display: block;
  font-family: Lora, serif;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.input-group input,
.input-group textarea {
  width: 100%;
  border-radius: 0.5rem;
  border-width: 1px;
  border-style: solid;
  --tw-border-opacity: 1;
  border-color: hsl(var(--light-gray) / var(--tw-border-opacity));
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
}

.contact-form .input-group textarea {
  min-height: 9rem;
  resize: none;
}
